<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block style %}{% endblock style %}
    {% if title %}
    <title>{{ title }} - VeriKe</title>
    {% else %}
    <title>VeriKe</title>
    {% endif %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script type="text/javascript">
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "{{ category }}",
            title: "{{ message }}"
        });
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}

    {% block script %}{% endblock script %}
</body>

</html>