{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock style %}

{% block content %}
  <div class="login-container">
    <h1>Freelancer Login</h1>
    <!-- Display server-side errors -->
     
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form id="loginForm" method="POST" action="/login">
      <div class="form-group">
        <label for="username">username</label>
        <input type="username" id="username" name="username" placeholder="Enter your username" required>

      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <p class="register-link">
      Don’t have an account? <a href="{{ url_for('auth.register') }}">Register as Freelancer</a>
    </p>
  </div>
{% endblock content %}

{% block script %}
<!-- <script src="{{ url_for('static', filename='js/login.js') }}"></script> -->
{% endblock script %}
